.notebook {
  width: 100%;
  height: 100%;
  position: relative;  
  background-attachment: local;
  background-image:
  linear-gradient(to right, white 4ch, transparent 4ch),
  repeating-linear-gradient(white, white 1.5em, #ccc 1.5em, #ccc 1.52em);
  background-size: 100% 1.52em;
  line-height: 1.5em;
  padding: 0.5em;
  font-family: "Courier New", monospace;
}