.notebook {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;  
  background-attachment: local;
  background-image:
  linear-gradient(to right, var(--bg-color) 0, transparent 0),
  repeating-linear-gradient(var(--bg-color), var(--bg-color) 1.5em, var(--color-book-lines) 1.5em, var(--color-book-lines) 1.52em);
  background-size: 100% 1.52em;
  
  line-height: 1.52em;
  padding: 0.25em 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.4rem;
  height: 100% !important;
 /* right-0 pl-4 pr-4 pt-9 top-0 gap-4 flex items-center justify-start flex-col w-full h-full */
  
}