.notebook {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  position: relative;  
  background-attachment: local;
  background-image:
  linear-gradient(to right, var(--bg-color) 0, transparent 0),
  repeating-linear-gradient(var(--bg-color), var(--bg-color) 1.5em, var(--color-book-lines) 1.5em, var(--color-book-lines) 1.52em);
  background-size: 100% 1.52em;
  line-height: 1.5em;
  padding: 0.5em;
  font-family: "Courier New", monospace;
}